.container {
width: 400px;
font-family: monospace;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
border: 3px solid black;
}

#display{
  padding: 15px;
  color:white

}
#clear {
  padding: 15px;
  color: black;
}

#arrow {
  padding: 15px;
  color: black;
}

#divide {
  padding: 15px;
  color: white;
}

#num7 {
  padding: 15px;
  color: black;
}

#num8 {
  padding: 15px;
  color: black;
}

#num9 {
  padding: 15px;
  color: black;
}

#multiply {
  padding: 15px;
  color: white;
}

#num4 {
  padding: 15px;
  color: black;
}

#num5 {
  padding: 15px;
  color: black;
}

#num6 {
  padding: 15px;
  color: black;
}

#subtract {
  padding: 15px;
  color: white;
}

#num1 {
  padding: 15px;
  color: black;
}

#num2 {
  padding: 15px;
  color: black;
}

#num3 {
  padding: 15px;
  color: black;
}

#add {
  padding: 15px;
  color: white;
}

#num0 {
  padding: 15px;
  color: black;
}

#equals {
  padding: 15px;
  color: white;
}
